body {
  text-align: center;
  background: #111;
  color: white;
  font-family: Arial;
}

#game {
  position: relative;
  width: 600px;
  height: 200px;
  background: #333;
  margin: 0 auto;
  overflow: hidden;
  border: 2px solid #444;
}

#player {
  position: absolute;
  bottom: 0;
  left: 50px;
  width: 40px;
  height: 40px;
  background: limegreen;
}

#obstacle {
  position: absolute;
  bottom: 0;
  right: -50px;
  width: 40px;
  height: 40px;
  background: crimson;
}
